<p>Hello {{name}},</p>
<p>Welcome to the Rangwena class of 2013.</p>
<p>Use the following one-time-password to activate your account. It expires
  within 60 seconds from the time of creation.</p>
<p>{{otp}}</p>
<p>
  Click
  <a href='{{uiURL}}'>HERE</a>
  to activate your account: &nbsp;
</p>