<p>Hello {{name}},</p>
<p>Please take not of your one time password. It expires within 60 seconds.</p>
<p>{{otp}}</p>
<p>
  Click here to reset your password: &nbsp;
  <a href='{{url}}'>HERE</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>